.ninjas,
.error {
  background-color: salmon;
  padding: 25px;
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  color: white;
  font-weight: 400;
  width: 40%;
  margin: 40px auto;
}

.error {
  background-color: red;
}
